

extends layout

block content

 h1 Mongoose Project Management


 h2=name

 p Email:  #{email}
 p User Id: #{userID}
   h3 Actions
   ul
    li
      a(href="/project/new") Create project
    li
      a(href="/user/edit") Edit user info
    li
      a(href="/user/delete")  Delete #{name}
    li
      a(href="/users/logout")  Logout #{name}


  
     each val in project
     ul  

       li #{val.projectName}
        a(href="/project/#{val.id}") Display
      
    
